<div class="my-container">
  <div class="my-navbar">
    <a href="http://localhost:3000/cocktails" class="my-navbar-item my-navbar-link"> <i class="fas fa-glass-martini"></i> </a>

    <a href="http://localhost:3000/cocktails/new" class="my-navbar-item my-navbar-link">Add a Cocktail</a>
  </div>
</div>
