<div class="my-container">
  <div class="my-navbar">
    <%= link_to cocktails_path, class:"my-navbar-item my-navbar-link" do %>
      <i class="fas fa-glass-martini"></i>
    <% end %>
    <%= link_to 'Add a Cocktail', new_cocktail_path, class:"my-navbar-item my-navbar-link" %>
  </div>
</div>
