<br><br>
<h1>Add a dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all%>
  <%= f.submit "Add", class: "btn" %>
<% end %>
