.my-navbar {
  background: rgba(120, 120, 120, 0);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: sans-serif;
}

.my-navbar-link {
  color: #616668;
  font-size: 14px;
  text-decoration: none;
  font-weight: lighter;
  font-size: 30px;
}
.my-navbar-link:hover {
  color: white;
  text-decoration: none;
}
